.image-section-container {
    min-height: 30em;
    margin-top: 9em;
    margin-bottom: 3em;
}

.image-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.95em;
}

.image-list-container img {
    transition: transform 0.3s ease-in-out; /* Плавен ефект */
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.image-list-container img:hover {
    transform: scale(0.9); /* Намалява изображението до 90% */
}

.backdrop-image {
    width: 21.3em;
    height: 11.8em;
    object-fit: cover;
    border-radius: 1em;
}

.images-title-h3 {
    text-align: center;
    font-size: 1.9em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fefefece;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.backdrop-poster-container-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin: 1.8em 0em 2em 0em;
}

.backdrop-poster-container-wrapper > button {
    background-color: #0000007c;
    color: #fff;
    border: 1px solid #78818e;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border-radius: 8px;
    margin: 0 10px;
}

.backdrop-poster-container-wrapper > button.backdrop-button {
    background-color: #ffffff4b;
    border-color: #fff;
}

.load-more-button {
    display: block;
    margin: 20px auto 0;
    margin-block: 4em;
    width: 150px;
    padding: 12px 25px;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: all .3sease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.load-more-button:hover {
    background-color: #ffffff;
    color: #000;
}

.poster-image {
    width: 22em;
    height: 30em;
    object-fit: cover;
    border-radius: 1em;
}

/* ТУК СПИРА МОЯ ПИСАН CSS */
