.cinema-record-details-container {
    position: relative;
    /* Това е важно, за да се позиционира спрямо този контейнер */
    width: 100%;
    height: 100%;
    /* или използвай конкретна стойност, ако е нужно */
    overflow: auto;
    /* За да позволиш скрол */
}

.background-img {
    position: fixed;
    /* Поставя снимката на фона на екрана */
    top: 0;
    left: 0;
    width: 100vw;
    /* 100% от ширината на екрана */
    height: 100vh;
    /* 100% от височината на екрана */
    background-size: cover;
    /* Изрязва и мащабира снимката, за да покрие целия екран */
    background-position: center;
    /* Центрира снимката */
    filter: blur(7.1px); /* Лек размазан ефект */
    z-index: -2;
    /* Поставя снимката зад всички други елементи */
}

.background-img-shadow {
    position: fixed;
    /* Поставя снимката на фона на екрана */
    top: 0;
    left: 0;
    width: 100vw;
    /* 100% от ширината на екрана */
    height: 100vh;
    /* 100% от височината на екрана */
    background-color: #000000e0;
    opacity: 0.86;
    z-index: -1;
}
