.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 20px 30px;
    gap: 8px;
}

.pageButton {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: #fefefe;
    background-color: #121212;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pageButton:hover {
    background-color: #ddd;
    color: #121212;
    transform: scale(1.1);
}

.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}